
// space cards
.view-spaces {
  padding: 0 20px 50px;
  margin: 0 auto;
  max-width: 990px;
  clear: both;
  flex-wrap: wrap;
  animation: fadein 700ms;

  .card {
    background: #2b324f;
    margin: 20px 10px;
    box-shadow: -4px 10px 30px 7px rgba(0,0,0,0.14);
    min-width: 30%;
    flex-grow: 1;

    header {
      background: #242c46;
      margin: 0 -15px;
      padding: 15px 35px 0;
      border-bottom: solid 1px #353d55;

      h2 {
        font-size: 30px;
        line-height: 34px;
        color: #ced3e1;
      }

      .subtext {
        font-size: 70%;
      }

      em {
        font-style: normal;
        color: #8b94ab;
      }
    }

    main {
      padding-bottom: 10px;
    }

    footer {
      .btn {
        margin-left: 15px;
      }
    }
  }

  // change flex grid columns according to screen size
  @media only screen and (max-width : 990px) {
    .card {
      min-width: 45%;
    }
  }

  @media only screen and (max-width : 768px) {
    .card {
      min-width: 100%;
    }
  }
}
